<div class="panel panel-primary">
  <div class="panel-heading">Form</div>
  <div class="panel-body">
    Maximum number to generate up to:
    <input type="text" class="form-control"
           [(ngModel)]="upperValue"
    />
    <button class="btn btn-primary"
            (click)="loadData()">Generate Prime Numbers</button>
    <p><span class="red" ng-if="!errorMessage">{{ errorMessage }}</span></p>

    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="primenumber">
        <th mat-header-cell *matHeaderCellDef> Prime Numbers </th>
        <td mat-cell *matCellDef="let element"> {{element}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>

  </div>
</div>
